// 1 rem = 16px
$red: #E27D60;
$blue: #85DCBA;
$gold: #E8A87C;
$pink: #C38D9E;
$green: #41B3A3;

$terminal-grey: #C5C8C6;

$header-size-font: 2rem;
$text-size-font: 1.3rem;

$screen-small: 772px;
$screen-tiny: 480px;

$header-width: 17.7rem;
$header-skills-width: 22.5rem;

@import "./animations.scss";

@mixin writeOut($width, $name) {
  text-align: left;
  border-right: .775rem solid white;
  animation: $name 2s steps(40, end) 1s 1 normal both, blink-caret .75s step-end infinite;
  white-space: nowrap;
  font-size: $header-size-font;
  overflow: hidden;
  width: $width;
}

@mixin section($color) {
  padding: 1.25rem 5rem;
  @media (max-width: $screen-tiny) {
    padding: 1.25rem 2rem;
  }
  background-color: $color;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

body {
  background-color: white;
  font-family: 'Monaco', 'Crimson Text', serif;
  color: $green;
}

.section {
  margin: 3rem 0;
  border: 1px solid white;
  height: 42rem;
  border-radius: .75rem;

  &__topbar {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: $terminal-grey;
    min-height: 2rem;
    box-shadow: 0 1px 0.5px;
    text-align: center;
    line-height: 2rem;

    &__icon {
      float: left;
      margin: 6px;
      border-radius: 1rem;
      &:first-child {
        background-color: #ff6e67;
        fill: #ff6e67;
      }
      &:nth-child(2) {
        background-color: #f4f99d;
        fill: #f4f99d;
      }
      &:last-child {
        background-color: #5af78e;
        fill: #5af78e;
      }
    }
  }

  .skills {
    @include section($blue);

    .hide {
      opacity: 0;
      @media (max-width: $screen-small) {
        opacity: 1;
        color: $gold;
        font-weight: 400;
      }
    }

    &__text {
      opacity: 1;
      color: $gold;
      font-weight: 400;
    }
    &__icon-col {
      margin: 1.2rem 0;
      display: inline-flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
    }

    &__icon {
      font-size: 4rem;

      &:hover {
        transform: translateY(-20%);
        animation: fly .5s linear;
      }
    }

    &__header {
      @media (min-width: $screen-tiny) {
        @include writeOut($header-skills-width, typing-wide);
      }
      @media (max-width: $screen-tiny) {
        font-size: $header-size-font;
        border-right: .775rem solid white;
        animation: blink-caret .75s step-end infinite;
      }
    }
  }

  .about {
    @include section($red);

    &__header {
      @include writeOut($header-width, typing);
    }

    &__text {
      margin-top: 1.25rem;
      font-size: $text-size-font;
      animation: slide-up 5s;
      transition: cubic-bezier(.16,.53,.7,.12);
    }

    &__image {
      width: 30%;
      height: 20rem;
    }

    &__image-wrapper {
      @media (max-width: $screen-small) {
        display: none;
      }

      display: flex;
      justify-content: space-around;

      :first-child {
        animation: slide-up 7s;
      }

      :last-child {
        animation: slide-up 8s;
      }
    }
  }
}

.nav {
  display: block;
  .nav__logo {
    display: flex;
    justify-content: center;
  }

  &__navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 1.25rem;
  }

  &__nav-item {
    @media (max-width: $screen-tiny) {
      width: 100%;
    }

    border: 0.5px solid $blue;
    font-size: $header-size-font;
    font-weight: 300;
    padding: 0.25rem 1rem;
    box-shadow: 1px 1px $blue;
    width: 33%;
    text-align: center;
    border-radius: .75rem;

    @media (min-width: $screen-small) {
      &:hover {
        background-color: $blue;
        transition-duration: 0.75s;
        transition: cubic-bezier(.66,.71,.45,.22);
        cursor: pointer;
        color: #fff;
        svg {
          display: inline-flex;

          &.hide {
            display: none;
          }

          &#contact {
            animation: 2s jump ease-out;
          }

          &#about {
            transition: cubic-bezier(0,0,.59,.58);
            animation: 4s 1 spin;

            path {
              stroke: orange;
              stroke-dasharray: 50;
              stroke-dashoffset: 300;
              animation: 2s draw;
            }
          }

          &#skills {
            animation: 4s 1 rotate;
            path {
              stroke: black;
              stroke-dasharray: 0;
            }
          }
        }

        .nav-text {
          display: none;
          &--show {
            animation: write-in 1s linear;
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    svg {
      fill: white;
      display: none;
      margin: 0 .25rem;
      align-self: center;
      justify-content: center;

      @media (max-width: $screen-tiny) {
        width: 200px;
      }
    }
  }
}