// 1 rem = 16px

$red: #E27D60;
$blue: #85DCBA;
$gold: #E8A87C;
$pink: #C38D9E;
$green: #41B3A3;

$terminal-grey: #C5C8C6;

$header-size-font: 2rem;
$text-size-font: 1.3rem;

$screen-small: 772px;
$screen-tiny: 480px;

$header-width: 17.7rem;

body {
  background-color: white;
  font-family: 'Monaco', 'Crimson Text', serif;
  color: $green;
}

.section {
  margin: 3rem 0;
  border: 1px solid white;
  height: 42rem;
  border-radius: .75rem;

  &__topbar {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: $terminal-grey;
    height: 2rem;
    box-shadow: 0 1px 0.5px;
    text-align: center;
    line-height: 2rem;

    &__icon {
      float: left;
      margin: 6px;
      border-radius: 1rem;
      &:first-child {
        background-color: #ff6e67;
        fill: #ff6e67;
      }
      &:nth-child(2) {
        background-color: #f4f99d;
        fill: #f4f99d;
      }
      &:last-child {
        background-color: #5af78e;
        fill: #5af78e;
      }
    }
  }

  .about {
    padding: 1.25rem 5rem;
    @media (max-width: $screen-tiny) {
      padding: 1.25rem 2rem;
    }
    background-color: $red;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    &__header {
      text-align: left;
      border-right: .775rem solid white;
      white-space: nowrap;
      font-size: $header-size-font;
      animation: typing 2s steps(40, end) 1s 1 normal both, blink-caret .75s step-end infinite;
      overflow: hidden;
      width: $header-width;
    }

    &__text {
      margin-top: 1.25rem;
      font-size: $text-size-font;
      animation: slide-up 5s;
      transition: cubic-bezier(.16,.53,.7,.12);
    }

    &__image {
      width: 30%;
      height: 20rem;
    }

    &__image-wrapper {
      @media (max-width: $screen-small) {
        display: none;
      }

      display: flex;
      justify-content: space-around;

      :first-child {
        animation: slide-up 7s;
      }

      :last-child {
        animation: slide-up 8s;
      }
    }
  }
}

.nav {
  display: block;
  .nav__logo {
    display: flex;
    justify-content: center;
  }

  &__navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 1.25rem;
  }

  &__nav-item {
    @media (max-width: $screen-tiny) {
      width: 100%;
    }

    border: 0.5px solid $blue;
    font-size: $header-size-font;
    font-weight: 300;
    padding: 0.25rem 1rem;
    box-shadow: 1px 1px $blue;
    width: 33%;
    text-align: center;
    border-radius: .75rem;

    @media (min-width: $screen-small) {
      &:hover {
        background-color: $blue;
        transition-duration: 0.75s;
        transition: cubic-bezier(.66,.71,.45,.22);
        cursor: pointer;
        color: #fff;
        svg {
          display: inline-flex;

          &.hide {
            display: none;
          }

          &#contact {
            animation: 2s jump ease-out;
          }

          &#about {
            transition: cubic-bezier(0,0,.59,.58);
            animation: 4s 1 spin;

            path {
              stroke: orange;
              stroke-dasharray: 50;
              stroke-dashoffset: 300;
              animation: 2s draw;
            }
          }

          &#skills {
            animation: 4s 1 rotate;
            path {
              stroke: black;
              stroke-dasharray: 0;
            }
          }
        }

        .nav-text {
          display: none;
          &--show {
            animation: write-in 1s linear;
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    svg {
      fill: white;
      display: none;
      margin: 0 .25rem;
      align-self: center;
      justify-content: center;

      @media (max-width: $screen-tiny) {
        width: 200px;
      }
    }
  }
}


@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  50% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: $header-width }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 1, 0, 0);
  }

  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes jump {
  0% {
    display: flex;
    transform: translateY(0);
  }

  25% {
    transform: translateY(-20%);
  }

  50% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-40%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes draw {
    0% {
      stroke: #fff;
    }

    100% {
      stroke-dashoffset: 0;
      stroke: orange;
    }
}

@keyframes write-in {
  0% {
    opacity: 0;
    display: none;
  }

  50% {
    opacity: .5;
    display: block;
  }

  100% {
    opacity: 1;
  }
}